<% if @climber.errors %>
  <% @climber.errors.full_messages.each do |error|%>
    <%= error %>
  <% end %>
<% end %>

<center>
<h1 style="font-size:40px">"It is not the mountain that we conquer, but ourselves."</h1>
<br><br>
<%=form_for @climber do |f| %> 
  <%=f.label :name, "Name: " %><br>
  <%=f.text_field :name%>
  <br><br>
  <%=f.label :experience, "Experience: " %><br>
  <%=f.text_field :experience%> 
  <br><br>
  <%=f.label :birthyear, "Birthyear: "%><br>
  <%=f.number_field :birthyear%> 
  <br><br>
  <%=f.label :height, "Height: "%><br>
  <%=f.text_field :height%> 
  <br><br>
  <%=f.label :weight, "Weight: "%><br>
  <%=f.number_field :weight%> 
  <br><br>
  <%=f.label :origin, "Born In: "%><br>
  <%=f.text_field :origin%> 
  <br><br>
  <%=f.label :preference, "Preference: "%><br>
  <%=f.text_field :preference%>
  <br><br>
  <%=f.label :communities, "Community: " %><br><br>
  <%=f.collection_check_boxes(:communities, Community.all, :id,:name)%>
  <br><br>
  <%=f.label :bio, "Biography: " %><br>
  <%=f.text_area :bio%> 
  <br><br>
  <%=f.label :profile_pic, "Profile Picture(URL): " %> <br>
  <%=f.text_field :profile_pic%>
  <br><br>
  
  <%=f.submit "Submit" %> 
  <br><br>
<%end%>
</center>