<h1>Join the Community!</h1>
<% if @climber.errors %>
  <ul>
    <% @climber.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<center>
<%= form_for (@climber) do |f| %> 
  <%= f.label :username%>
  <%= f.text_field :username, required: true%>
  <%= f.label :password%>
  <%= f.password_field :password, required: true%>
  <%= f.submit%>
<%end%>

</center>
