<h1>Join the Community!</h1>
<br>
<% if @climber.errors %>
  <ul>
    <% @climber.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<center>
<%= form_for (@climber) do |f| %> 
  <%= f.label :username%><br>
  <%= f.text_field :username, required: true%><br><br>
  <%= f.label :password%><br>
  <%= f.password_field :password, required: true%>
  <br>
  <%= f.submit%>
<%end%>
<br><br>
<button lass="arrow circle left icon">
  <i class="arrow circle left icon"></i>
  <%= link_to "Go Back", '/'%> 
</button>
</center>
