<center><h1>What's the scoop on <%=@climber.name%>?</h1>
<br><br>
<%= image_tag("#{@climber.profile_pic}", height: "40%", width: "50%")%></center>
<br><br>

<h3>Experience:</h3>
<%=@climber.experience%>
<h3>Birthyear:</h3>
<%=@climber.birthyear%>
<h3>Height:</h3>
<%=@climber.height%> 
<h3>Weight:</h3>
<%=@climber.weight%>
<h3>Origin:</h3>
<%=@climber.origin%>
<h3>Climbing Preference:</h3>
<%=@climber.preference%>
<h3>Biography:</h3>
<%=@climber.bio%>
<br>
<h3>Communities <%=@climber.name%> is in:</h3>
<%@climber.communities.each do |community|%>
  <li><%= link_to community.name, community_path(community)%></li>
  <%end%>
<br><br>
<h4><%= link_to "Back to All Climbers", climbers_path%></h4>