<!DOCTYPE html>
<html>
<body>

<%= render partial: "partials/navbar" %> 

<div class="welcome-body">
<div class= "welcome-body-text">
<center>
<img src="https://i.ytimg.com/vi/kQxF3H6TYsc/maxresdefault.jpg"  width="50%" height="60%">
<br>
<h1>Welcome back <%=current_user.name%>!</h1>
<br><br>
<h3 class="climber-welcome-header">What's the weather like in <%=current_user.origin%>?</h3>
<br>
<%= render partial: "climber_weather_display" %>
<br><br>
<h1 class="climber-welcome-header">Your projects: </h1>
<% current_user.routes.each do |route|%> 
<li><%= link_to route.name, route_path(route)%> </li>
<%end%>

<br><br>
</center>
<br><br>
<center>

<h1 class="climber-welcome-header">Check out who's crushing it! </h1>
<br><br>
<% get_current_events.each do |k, v| %> 
  <%= k %> is climbing: 
  <br><br>
  <%v.each do |single_route| %> 
  <%= single_route%>
  <br>
  <%end%>
  <br><br>
<%end%>

</div>
</div>
</center>
</body>
</html>