
<center>
<div class="comment-body-bg">
  <div class="comment-text-box">
    <div class="ui form">
      <label>
      <%=form_for @comment do |f|%> 
        <%=f.label :message, "Comment: " %>
        <%=f.text_area :message %> 
        <%= f.hidden_field :post_id %>
        <br><br>
        <%=f.submit%> 
        <%end%> 
      </label>
    </div>
  </div>
</div>