<!DOCTYPE html>
<html>
<head>
<body>
  <div class="home-body">
    <div class="ui inverted menu">
    <div class= "right menu">
    <a class="item" href="climbers/new">Sign Up</a>
    </div>
    </div>
<br><br>

<%=flash[:notice]%> 

    <div class="climber-container">
      <h1>LOG IN</h1>
      <p><%= flash[:no_user] %></p>
      <%= form_with url: climbers_login_path do |form| %> 
        <%= form.label "username"%>
        <%= form.text_field :username, required: true%>
        <%= form.label "password"%>
        <%= form.password_field :password, required: true%>
        <%= form.submit "Climb On", :class => "climber-btn" %>
      <%end%>
    </div>

  </div>
</body>
</head>
</html>
