<center>
<p><img src="<%= @route.picture %>" alt="A picture of the climbing face with an overlay of the route <%= @route.name %>" height="40%" width="40%"></p>
<h1><%= @route.name %></h1>

<h3>Difficulty: <%= @route.difficulty %></h3>
<h3>Style: <%= @route.style %></h3>

<%= button_to "Edit Route", edit_route_path(@route), method: "get" %>

<h3>Climbers projecting this route:</h3>
<% @route.climbers.each do |climber| %>
  <p><%= link_to climber.name, climber_path(climber) %></p>
<% end %>
<br><br><br><br>
<%= render partial: "partials/footer", locals: {table: "Routes", my_path: routes_path} %>
</center>