<!DOCTYPE html>
<html>
<body>

<div class="topnav">
<a class="active" href="/">Home</a>
<a href="/climbers">Climbers</a>
<a href="/communities">Communities</a>
<a href="/locations">Locations</a>
<a href="/routes">Routes</a>
<a style="float:right" class="active" href="/">Log Out</a>
</div>

<div class="location-index-body">
  <center>
  <h1 style="font-size:45px">Locations</h1>
  <br>
  <div class="location-index-list">
  
    <% @locations.each do |location| %>
      <a href="/locations/<%= location.id %>" class="location-index-link">
      <img src="<%= location.picture %>" class="location-index-img" alt="A picture of the location <%= location.name %>" height="50%" width="50%">
      <%= location.name %>
      </a>
      <br>
      <br>
    <% end %>
  

    <br>
    <br>
    <%= button_to "Add a New Location", new_location_path, method: "get" %>
  </div>
  <%= render partial: "partials/footer", locals: {my_path: locations_path, table: "Locations"} %>
  </center>
</div>

</body>
</html>