<!DOCTYPE html>
<html>
<body>

<%= render partial: "partials/navbar" %> 

<div class="location-index-body">
<center>
<h1 style="font-size:45px">Locations</h1>
<br>
<% @locations.each do |location| %>
  <p><img src="<%= location.picture %>" alt="A picture of the location <%= location.name %>%" height="40%" width="40%"></p>
  <%= link_to location.name, location_path(location) %>
<br><br>
  <% end %>

<br><br><%= button_to "Add a New Location", new_location_path, method: "get" %>

</center>
</div>
</body>
</html>