<!DOCTYPE html>
<html>
<body>

<div class="topnav">
<a class="active" href="/">Home</a>
<a href="/climbers">Climbers</a>
<a href="/communities">Communities</a>
<a href="/locations">Locations</a>
<a href="/routes">Routes</a>
<a style="float:right" class="active" href="/">Log Out</a>
</div>
<div class="location-body">
<br><br>
<center>
<p><img src="<%= @location.picture %>" alt="A picture of the location <%= @location.name %>" height="40%" width="40%"></p>

<h1><%= @location.name %></h1>

<h3>Rock Type: <%= @location.rock_type %></h3>
<h3>Approach: <%= @location.approach %></h3>
<h3>Popularity: <%= @location.popularity %></h3>

<%= button_to "Edit", edit_location_path(@location), method: "get" %>

<h2>Routes:</h2>

<% @location.routes.each do |route| %>
  <p><%= link_to route.name,  route_path(route)%></p>
<% end %>

<br><br><br>
<%= render partial: "partials/footer", locals: {my_path: locations_path, table: "Locations"} %>
</center>

</div>
</body>
</html>