<!DOCTYPE html>
<html>
<body>

<%= render partial: "partials/navbar" %> 

<div class="location-body">
<br><br>
<center>
<p><img src="<%= @location.picture %>" alt="A picture of the location <%= @location.name %>" height="40%" width="40%"></p>

<h1><%= @location.name %></h1>


<%= render partial: "location_weather_display" %>

<div class="location-show-list">
  <h3 class="location-show-info-header">Rock Type:</h3><div class="location-show-info-body"> <br><%= @location.rock_type %></div>
  <h3 class="location-show-info-header">Approach:</h3><div class="location-show-info-body"> <br><%= @location.approach %></div>
  <h3 class="location-show-info-header">Popularity:</h3><div class="location-show-info-body"> <br><%= @location.popularity %></div>

  <%# button_to "Edit", edit_location_path(@location), method: "get" %>

  <p class="location-show-edit-button"><%= button_to "Edit", edit_location_path(@location), method: "get" %></p>

  <h2 id="location-show-routes-header">Routes:</h2>

  <% @location.routes.each do |route| %>
    <p><%= link_to route.name, route_path(route), {class: "location-route-links"}%></p>
  <% end %>
</div>

</center>

</div>
</body>
</html>